/Calculadora/nbproject/private/
/Calculadora/build/
/InterfazMensajeriaMovil/nbproject/private/
/InterfazMensajeriaMovil/build/
/InterfazMensajeriaMovil/dist/
/Calculadora/dist/
/JavaFXEjemplo1/nbproject/private/
/JavaFX/JavaFXEjemplo1/dist/
/JavaFX/JavaFXEjemplo1/build/
/Calculadora-JavaFX/nbproject/private/
/JavaFX/Calculadora-javaFX/nbproject/private/
/JavaFX/Calculadora-javaFX/build/
/JavaFX/Calculadora-javaFX/dist/
/JavaFX/InterfazCoche-JavaFX/nbproject/private/
/JavaFX/InterfazCoche-JavaFX/build/
/JavaFX/InterfazCoche-JavaFX/dist/
/JavaFX/InterfazFrigorifico-JavaFX/nbproject/private/
/JavaFX/InterfazFrigorifico-JavaFX/build/
/JavaFX/InterfazFrigorifico-JavaFX/dist/
/JavaFX/Aplicacion-Restaurante/nbproject/private/
/JavaFX/Aplicacion-Restaurante/build/
/JavaFX/Aplicacion-Restaurante/dist/
/JavaFX/Quien-Es-Quien/nbproject/private/
/JavaFX/Quien-Es-Quien/dist/
/JavaFX/Quien-Es-Quien/build/
/JavaFX/Quien-Es-Quien/src/imagenes/
/JavaFX/Quien-Es-Quien/.idea/
/JavaFX/Quien-Es-Quien/Quien-Es-Quien.iml
/JavaFX/Quien-Es-Quien/out/

