/Calculadora/nbproject/private/
/Calculadora/build/
/InterfazMensajeriaMovil/nbproject/private/
/InterfazMensajeriaMovil/build/
/InterfazMensajeriaMovil/dist/
/Calculadora/dist/
/JavaFXEjemplo1/nbproject/private/
/JavaFX/JavaFXEjemplo1/dist/
/JavaFX/JavaFXEjemplo1/build/
/Calculadora-JavaFX/nbproject/private/
/JavaFX/Calculadora-javaFX/nbproject/private/
/JavaFX/Calculadora-javaFX/build/
/JavaFX/Calculadora-javaFX/dist/
