.root {
    -fx-background-color: #2e2e2e;/*#161616*/
    -fx-font-family: "Segoe UI";
    -fx-background-size: cover;       /* Ajusta la imagen al tamaño del contenedor */
    -fx-background-repeat: no-repeat; /* No repetir la imagen */
    -fx-background-position: center;  /* Centrar la imagen */
}

.titulo{
    -fx-text-fill: #fcd358;
    -fx-font-size: 30px;
}

.textField{
    -fx-padding:  10 10px;
}

.btnLogin{
    -fx-background-color: #fcd358; /* color amarillo */
    -fx-text-fill: black;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 12 30;
    -fx-background-radius: 15;
    -fx-cursor: hand;             /* cursor de puntero al pasar el mouse */
    -fx-effect: dropshadow(gaussian, #fcd358, 20, 0.15, 0, 0);
}

.btnLogin:hover {
    -fx-background-color: #d1af4b; /* color más intenso al pasar el mouse */
    -fx-effect: dropshadow(gaussian, #d1af4b, 20, 0.15, 0, 0);
}

.btnLogin:pressed {
    -fx-background-color: #a48a3c; /* color aún más oscuro al presionar */
}

.btnAtras{
    -fx-background-color: #D4374F; /* color amarillo */
    -fx-text-fill: black;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 12 30;
    -fx-background-radius: 15;
    -fx-cursor: hand;             /* cursor de puntero al pasar el mouse */
    -fx-effect: dropshadow(gaussian, #CC293A, 20, 0.15, 0, 0);
}

.btnAtras:hover {
    -fx-background-color: #CC293A; /* color más intenso al pasar el mouse */
    -fx-effect: dropshadow(gaussian, #d1af4b, 20, 0.15, 0, 0);
}

.btnAtras:pressed {
    -fx-background-color: #CC293A; /* color aún más oscuro al presionar */
}